* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    position: relative;
    background-color: rgb(14, 12, 41);
    padding: 0;
    margin: 0;
}

a {
    color: rgb(231, 153, 121);
}

a:hover {
    color: rgb(241, 191, 171);
}

/* Navbar */ 

.nav {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.342), rgba(14, 12, 41, 0.2));
    font-size: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 10%;
    height: 100vh;
    animation: slidein 4s linear;
    animation-fill-mode: forwards;
    z-index: 10;
}

.icons {
    display: flex;
    justify-content: space-around;
}

/* Home */ 

.homeContainer {
    height: 100vh;
}

.home {
    position: absolute;
    top: 150px;
    left: 250px;
    color: rgb(249, 106, 49);
    font-size: 1.5rem;
    opacity: 0;
    animation: appear 1s linear;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.home a,
.contact-area a {
    color: white;
    margin: 30px 0;
    font-size: 5rem;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

i {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.home a:hover {
    color: rgb(239, 102, 48);
}

#icon1,
.proficiency-icon {
    animation-delay: 2s;
}

#icon2 {
    animation-delay: 1s;
}

#icon3 {
    animation-delay: 1.5s;
}

.pattern {
    height: 99vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

/* About me */

.about {
    min-height: 110vh; 
    width: 100vw;
    display: flex;
    justify-content: center;
    color: white; 
}

.aboutContainer {
    width: 70%; 
    background: rgba(36, 31, 63, 0.404); 
    border-radius: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.aboutContainer h3 {
    font-size: 3rem;
    color: rgb(231, 153, 121);
    padding: 30px 0 60px 0; 
}

.aboutContainer p {
    font-size: 2rem;
    padding: 30px 0 0px 0; 
}

.aboutContainer ul {
    list-style: none;
    font-size: 2rem;
    padding: 30px 0 60px 0;  
}

.path {
    fill: rgba(143, 127, 50, 0.304);
    fill-opacity: 0;
    font-size: 4rem;
    stroke: rgb(145, 130, 57);
    stroke-width: 1;
    stroke-dasharray: 550;
    stroke-dashoffset: 552;
    animation: dash 1s linear, fill 1.5s linear;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
        stroke: rgba(122, 109, 42, 0.2);
    }
}

@keyframes fill {
    to {
        fill-opacity: 1;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slidein {
    0% {
        margin-left: -800px;
    }
    20% {
        margin-left: -800px;
    }
    35% {
        margin-left: 0px;
    }
    100% {
        margin-left: 0px;
    }
}

@keyframes floating {
    from {
        transform: translate(0, 0px);
    }
    65% {
        transform: translate(0, 5px);
    }
    to {
        transform: translate(0, -0px);
    }
}

@keyframes appear-display {
    to {
        visibility: visible;
    }
}


/* Portfolio */
.portfolio {
    width: 100%; 
    min-height: 120vh;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .item-row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 55vh; 
    width: 80%; 
    margin: 7vh 0; 
    color: white; 
  }
  
  .item-row-right {
    flex-direction: row;
  }
  
  .item-row-left {
    flex-direction: row-reverse;
  }
  
  .portfolio-tile {
    min-width: 30%; 
    height: 100%;
  }

  .portfolio-description {
      max-width: 50%;
      display: flex; 
      flex-direction: column;
  }
  
  .skillTiles, .codeLinks {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

  .skill-tile {
    padding: 8px; 
    margin: 0 5px; 
    background: gray; 
    border: 1px solid white; 
    border-radius: 25px; 
    max-width: 20%; 
  }

@media screen and (max-width: 990px) {
    .portfolio-main-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
    .portfolio-item-row {
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        padding: 10px;
    }
    .portfolio-item {
        width: 200px;
        height: 180px;
        position: relative;
        border-radius: 25px;
        margin: 10px;
    }
}

.portfolio-item img {
    height: inherit;
    width: 100%;
    border-radius: 25px;
}

/* contact area */

.contact-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px;
}

.icons-line {
    text-align: center;
    margin: 0 auto;
    width: 70%;
    font-size: 1.5rem;
    color: #ECFAEC;
}

.icons-line i {
    color: #FAFAFA;
    font-size: 6rem;
    margin: 100px 100px 100px 100px;
}

.icons-line .fa-envelope {
    border-radius: 25px;
    background-size: 2px;
}

.contact-area-item {
    padding: 10px;
    font-size: 1.5rem;
}

.contact-area-icon {
    background-color: #D2D8AB;
    border-radius: 25px;
    font-size: 3.5rem;
}

@media screen and (max-width: 860px) {
    .contact-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 78vh;
    }
    .icons-line {
        display: flex;
        justify-content: space-around;
        width: 70%;
        font-size: 1.5rem;
        color: #ECFAEC;
    }
    .icons-line i {
        color: #FAFAFA;
        font-size: 6rem;
        margin: 100px 80px 100px 80px;
    }
    .contact-area-item {
        padding: 10px;
        font-size: 1.5rem;
    }
    .contact-area-icon {
        background-color: #D2D8AB;
        border-radius: 25px;
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 768px) {
    .contact-area {
        height: 90vh;
    }
}

@media screen and (max-width: 350px) {
    .icons-line i {
        color: #FAFAFA;
        font-size: 4rem;
        margin: 20px 40px 20px 40px;
    }
}


/* About me */

.skillsContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #ECFAEC;
}

.about-me-container-backend,
.about-me-container-frontend {
    display: flex;
    justify-content: center;
}

.proficiency-container {
    text-align: center;
    margin: 20vh 0;
}

.proficiency-icon {
    font-size: 7rem;
    color: #FAFAFA;
    padding: 10px;
}