* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
}

body {
    position: relative;
    background-color: rgb(14, 12, 41);
    padding: 0;
    margin: 0;
}

a {
    color: rgb(231, 153, 121);
}

a:hover {
    color: rgb(241, 191, 171);
}

.nav {
    background-image: linear-gradient(90deg, #25240e95, #25240e55, rgba(14, 12, 41, 0.2) );
    font-size: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 10%;
    height: 100vh;
    animation: slidein 7s linear;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.icons {
    display: flex; 
    justify-content: space-around;
}

.text {
    position: absolute;
    top: 200px;
    left: 350px;
    color: rgb(249, 106, 49);
    font-size: 2rem;
    opacity: 0;
    animation: appear 1s linear;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    /* text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #Fff; */
}

.text a {
    color: white; 
    margin: 30px 0; 
    font-size: 5rem; 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.text a:hover {
    color: rgb(239, 102, 48); 
}

#linkedin {
    animation-delay: 2s;
}

#github{
    animation-delay: 1s;
}

#codepen {
    animation-delay: 1.5s;
}

.pattern {
    height: 99vh;
    width: 100%;
}

.path {
    fill: rgba(143, 127, 50, 0.304);
    fill-opacity: 0;
    font-size: 4rem;
    stroke: rgb(145, 130, 57);
    stroke-width: 1;
    stroke-dasharray: 550;
    stroke-dashoffset: 552;
    animation: dash 1s linear, fill 1.5s linear;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
        stroke: rgba(122, 109, 42, 0.2);
    }
}

@keyframes fill {
    to {
        fill-opacity: 1;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slidein {
    0% {
        margin-left: -800px;
    }
    20% {
        margin-left: -800px;
    }
    35% {
        margin-left: 0px;
    }
    100% {
        margin-left: 0px;
    }
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 5px); }
    to   { transform: translate(0, -0px); }    
}