            * {
                box-sizing: border-box;
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
                letter-spacing: .6px;
                text-decoration: none;
                text-transform: uppercase;
                scroll-behavior: smooth;
            }
            
            body {
                padding: 0;
                margin: 0;
                background-image: url("image-assets/kazuend-19SC2oaVZW0-unsplash.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
            }
            
            .everything {
                background-color: rgba(210, 216, 171, 0.1);
            }
            
            #hexagon {
                fill: #D2D8AB;
            }
            
            i {
                color: black;
            }
            
            .icon {
                font-size: 3vw;
            }
            
            .icon:visited {
                color: white;
            }
            
            .scroll-down {
                font-size: 10vw;
                background-color: rgba(210, 216, 171, 0.3);
                border-radius: 100%;
            }
            /* Navbar */
            
            .navbar {
                background-color: rgba(20, 32, 20, 0.6);
                height: 15vh;
                width: 100%;
                border-bottom-left-radius: 25%;
                border-bottom-right-radius: 25%;
                position: fixed;
                display: flex;
                justify-content: center;
                z-index: 1;
            }
            
            .navbar-item-wrapper {
                width: 70%;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            
            .navbar a,
            p {
                color: #ECFAEC;
                font-size: 1.5rem;
            }
            
            .navbar a:active {
                color: pink;
            }
            
            .navbar a:hover {
                color: #EDBCED;
            }
            /* Home area */
            
            .home {
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .home-container {
                border-radius: 50%;
                background-color: #ECFAEC;
                border-color: #879908;
                border-width: 10px;
                border-style: groove;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .center-circle {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                overflow-wrap: normal;
                font-size: 3vw;
            }
            
            .face-name-sub {
                font-size: 2vw;
            }
            
            .circle-inner-wrapper {
                width: 75%;
                height: 75%;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            
            .circle-inner {
                padding: 5%;
            }
            
            .hex-icons:hover {
                color: #EDBCED;
            }
            /* About me */
            
            .about-me {
                height: 85vh;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
            }
            
            .navbar-bumper {
                height: 15vh;
                width: 100%;
                background: transparent;
            }
            /* Face/Name Hexes */
            
            .face-name-container {
                height: 60%;
                width: 95%;
                display: flex;
                justify-content: space-around;
            }
            /* Proficiency Hexes */
            
            .proficiency-container {
                height: 60%;
                width: 95%;
                display: flex;
                justify-content: space-around;
            }
            
            .proficiency-hexagon-wrapper {
                text-align: center;
                margin: 20px;
                position: relative;
                display: inline-block;
            }
            /* Portfolio area */
            
            .portfolio-wrapper {
                height: 300vh;
                width: 100%;
            }
            
            .portfolio-main-container {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                height: 250vh;
                width: 100%;
            }
            
            .portfolio-item-wrapper {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 90%;
                margin: 5% 0;
            }
            
            .portfolio-hex-wrapper {
                display: flex;
                align-items: center;
            }
            
            .portfolio-item-description {
                height: 90%;
                width: 55%;
                background-color: #D2D8AB;
            }
            /* contact area */
            
            .contact-area {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
            }
            
            #contact-me {
                width: 20%;
                font-size: 3vw;
                text-align: center;
                padding: 10px 30px;
            }
            
            #icons-line {
                background-color: transparent;
                display: flex;
                justify-content: space-around;
            }
            
            .contact-area-line {
                background-color: #D2D8AB;
                margin: 2% auto;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                border-radius: 25px;
                font-size: 3vw;
            }
            
            .contact-area-item {
                padding: 10px;
            }
            
            .contact-area-icon {
                background-color: #D2D8AB;
                text-align: center;
                border-radius: 25px;
            }
            /* footer */
            
            footer {
                width: 100%;
                height: 40vh;
                background-color: rgba(20, 32, 20, 0.6);
            }